# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS / editors
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# playwright / screenshots de vérification
test-results/
